body, html {
    height: 100%;
    }
    .bg {
    background-image: url("https://www.photohdx.com/images/2016/04/blue-soft-fabric-background-texture.jpg");
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    /* height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    }

    
      /* background: url('/client/public/img/main.jpg')no-repeat center center fixed; */
      /* -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-size: 1200px;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      display: flex;
      min-height: 100vh;
      flex-direction: column; */
  